.user-profile {
    margin-left: 20vw;
    margin-top:  20px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-profile p {
    font-size: 16px;
    margin-bottom: 5px;
}

.user-profile p:first-child {
    margin-top: 0;
}